<h1>New User</h1>


<%= form_tag(users_url, method: 'post') do %>


  <div>
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>

    <div>
    <%= label_tag :first_name %><br />
    <%= text_field_tag :first_name %>
  </div>

    <div>
    <%= label_tag :last_name %><br />
    <%= text_field_tag :last_name %>
  </div>

    <div>
    <%= label_tag :password %><br />
    <%= text_field_tag :password %>
  </div>

    <div>
    <%= label_tag :facebook_id %><br />
    <%= number_field_tag :facebook_id %>
  </div>

    <div>
    <%= label_tag :is_activated %><br />
    <%= check_box_tag :is_activated %>
  </div>


  <div>
    <%= submit_tag "Create User" %>
  </div>
<% end %>
