<h1>Pages</h1>

<p><%= link_to 'Add a New Page', new_page_url %></p>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>User</th>
      <th>Layout</th>
      <th>Background color</th>
      <th>Background image url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @pages.each do |page| %>
    <tr>
      <td><%= page.book.name %></td>
      <td><%= page.user.full_name %></td>
      <td><%= page.layout %></td>
      <td><%= page.background_color %></td>
      <td><%= page.background_image_url %></td>

      <td><%= link_to 'Show', page_url(page) %></td>
      <td><%= link_to 'Edit', edit_page_url(page) %></td>
      <td><%= link_to 'Destroy', page_url(page), method: 'delete', data: { confirm: "Do you really want to delete this page?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

