<h1>New Page</h1>


<%= form_tag(pages_url, method: 'post') do %>


  <div>
    <%= label_tag :book_id %><br />
    <%= select_tag :book_id, options_from_collection_for_select(Book.all, :id, :name) %>
  </div>

  <div>
    <%= label_tag :user_id %><br />
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :first_name) %>
  </div>

    <div>
    <%= label_tag :layout %><br />
    <%= text_field_tag :layout %>
  </div>

    <div>
    <%= label_tag :background_color %><br />
    <%= text_field_tag :background_color %>
  </div>

    <div>
    <%= label_tag :background_image_url %><br />
    <%= text_field_tag :background_image_url %>
  </div>


  <div>
    <%= submit_tag "Create Page" %>
  </div>
<% end %>
