<h1>New Page</h1>


<%= form_tag(pages_url, method: 'post') do %>

<%= hidden_field_tag :book_id, @book.id %>

    <div>
    <%= label_tag :layout %><br />
    <%= select_tag :layout, options_for_select(@layouts) %>
  </div>

<br />

  <div>
    <%= submit_tag "Create Page" %>
  </div>
<% end %>
