<h1>Page #<%= @page.id %>: Add a <%= link_to 'Photo', "#{new_photo_url}?page_id=#{@page.id}" %> or <%= link_to 'Text', "#{new_text_url}?page_id=#{@page.id}" %></h1>

<%= render :partial => "page_layouts/#{@page.layout}", :locals => { :page => @page } %>

<!--
<p>
  <b>Book:</b>
  <%= @page.book_id %>
</p>

<p>
  <b>User:</b>
  <%= @page.user_id %>
</p>

<p>
  <b>Layout:</b>
  <%= @page.layout %>
</p>

<p>
  <b>Background color:</b>
  <%= @page.background_color %>
</p>

<p>
  <b>Background image url:</b>
  <%= @page.background_image_url %>
</p>


 -->
