<ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
  <div class="ui-widget ui-helper-clearfix">
    <%= paginate photos, :remote => true %>
    <% i = 0 %>
    <% photos.each do |photo| %>
      <% i += 1 %>
      <li class="ui-widget-content ui-corner-tr">
        <img src="<%= photo.source_url %>" class="pic" id="draggable_<%= i %>" />
        <!-- Button to trigger modal -->
        <a href="#myModal_<%= i %>" role="button" class="small-button" data-toggle="modal"><%= image_tag 'iconmonstr-magnifier.png' %></a>

        <!-- Modal -->
        <div id="myModal_<%= i %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-body">
            <%= image_tag photo.source_url %>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      </li>
    <% end %>
  </div>
</ul>
