<div id="photo_gallery">
  <div class="gallery-heading">
    <h3>Photos</h3>
  </div>
  <ul class="nav nav-pills">
    <li class="<%= 'active' unless photo_provider.present? && photo_provider != "friendship" %>"><%= link_to "Friendship", book_url(@book.id, :photo_provider => "friendship"), :method => :get, :remote => true %></li>
    <li class="<%= 'active' if photo_provider == "friends" %>"><%= link_to "Recipient", book_url(@book.id, :photo_provider => "friends"), :method => :get, :remote => true %></li>
    <li class="<%= 'active' if photo_provider == "personal" %>"><%= link_to "My Photos", book_url(@book.id, :photo_provider => "personal"), :method => :get, :remote => true %></li>
</ul>
  <div class="pagination-area">
    <br />
    <center><%= paginate photos, window: 1, :remote => true, :params => {:photo_provider => photo_provider} %></center>
  </div>
    <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
      <div class="ui-widget ui-helper-clearfix">
        <% i = 0 %>
        <% photos.each do |photo| %>
          <% i += 1 %>
          <li class="ui-widget-content ui-corner-tr" id="draggable_<%= i %>_<%= page_number %>">
            <img src="<%= photo.source_url %>" class="pic" />

            <!-- Modal -->
            <div id="myModal_<%= i %>_<%= page_number %>">
                <%= image_tag photo.source_url %>
            </div>
          </li>
          <script>

          $( init );

            function init() {
              $('#draggable_<%= i %>_<%= page_number %>').draggable({
                  cancel: "a.ui-icon", // clicking an icon won't initiate dragging
                  revert: "invalid", // when not dropped, the item will revert back to its initial position
                  containment: "document",
                  helper: "clone",
                  cursor: "move"
                });

              $( "#myModal_<%= i %>_<%= page_number %>" ).dialog({ autoOpen: false });

              $("#draggable_<%= i %>_<%= page_number %>").hover(
                function () {
                  $( "#myModal_<%= i %>_<%= page_number %>" ).dialog( "open" );
                  //alert("hover on");
                  //$(this).find('a').click();
                  //var id = $(this).find('a').attr("data-id");
                  //var my_modal = '#myModal_' + id;
                  //alert(my_modal);
                  //$(my_modal).modal('show')
                  //alert(id)
                },
                function () {
                  $( "#myModal_<%= i %>_<%= page_number %>" ).dialog( "close" );
                  //alert("hover off");
                  //var id = $(this).find('a').attr("data-id");
                  //var my_modal = '#myModal_' + id;
                  //alert(my_modal);
                  //$(my_modal).modal('hide')
                }
              );
            }

          </script>


        <% end %>
      </div>
    </ul>
</div>


