<!-- Modal -->
<div id="invitemodal" class="modal hide fade" role="dialog" aria-labelledby="Add Invite" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Invite</h3>
  </div>


      <!-- FORM START -->
    <%= form_tag(update_invite_url(@book.id), method: 'put', :class => 'clearfix form-horizontal') do %>
    <div class="modal-body">
        <p>

        <div class="control-group">
        <%= label_tag :invite_message_body, "Invite Body", :class => "control-label" %>
         <div class="controls">
          <%= text_area_tag :invite_message_body, @book.invite_message_body %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :sharing_preference, "Sharing Preference", :class => "control-label" %>
         <div class="controls">
          <%= select_tag :sharing_preference, "<option>Social</option><option>Private</option>".html_safe %>
        </div>
      </div>

      <%= hidden_field_tag :book_id, @book.id %>

    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button type="submit" class="btn btn-primary">Save Invite</button>
  </div>
  <% end %>
</div>
