<div class="show_canvas">
  <div class="pagination-area-canvas">
    <center><p><%= paginate @pages, window: 1, remote: true, param_name: :pagina %></p></center>
  </div>
  <% @pages.each do |page| %>
    <%= render :partial => "page_layouts/#{page.layout}", :locals => { :page => page, :canvas_css_property => 'canvas', :border_choice => 'border', :margin_option => 'small-margin' } %>
    <div class="row-fluid canvas-footer">
    <% if page.user == current_user || captain == current_user %>
      <%= link_to image_tag("iconmonstr-trash-can-15-icon.png", :class => 'edit-button left'), page_url(page.id), :method => 'delete', data: { confirm: "Do you really want to delete this page?" } %>
      <%= link_to image_tag("iconmonstr-edit-9-icon.png", :class => 'edit-button left'), edit_page_url(page.id) %>
      <%=  %>
      <h4 class="page_heading">
        <%= link_to "Preview Page", "#{page_url(page.id)}.pdf" %>
        <div class="right signature">Created By: <%= page.user.full_name %></div>
      </h4>
    <% end %>
    </div>
  </div>
<% end %>
