<script>
      $(document).ready(function() { $("#e9").select2(); });
</script>

<h1 class="form span10">Add Invitees</h1>

<%= form_tag(roles_url, method: 'post', :class => 'clearfix form-horizontal span6 offset2') do %>

  <div class="control-group">
    <%= label_tag "friend_id[]", 'Invitees', :class => "control-label" %>
     <div class="controls">
        <select id="e9" size="20" multiple="multiple" name="friend_id[]">
          <% current_user.facebook.friends.each do |friend| %>
            <option value="<%= friend["uid"] %>"><%= friend["name"] %></option>
          <% end %>
        </select>
    </div>
  </div>

  <%= hidden_field_tag :book_id, @book.id %>

  <div>
    <button type="submit" class="btn btn-primary span2 offset2">Save Invite</button>
  </div>
<% end %>


