<h1>Books</h1>

<p><%= link_to 'Add a New Book', new_book_url %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Book Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <% if book.users.find_by_id(current_user.id).present? %>
      <tr>
        <td><%= book.name %></td>

        <td><%= link_to 'Show', book_url(book) %></td>
        <td><%= link_to 'Edit', edit_book_url(book) %></td>
        <td><%= link_to 'Destroy', book_url(book), method: 'delete', data: { confirm: "Do you really want to delete this book?" } %></td>

      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

