<h1 class="span10 offset2">Create a New Clipcake Book!</h1>


<%= form_tag(books_url, method: 'post', :class => 'clearfix form-horizontal span6 offset4') do %>

  <div class="control-group">
    <%= label_tag :occasion, "Occasion", :class => "control-label" %>
    <div class="controls">
      <%= select_tag :occasion, options_for_select(@occasions) %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :name, "Book Name", :class => "control-label" %>
     <div class="controls">
      <%= text_field_tag :name %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :recipient_fb_id, 'Recipient Facebook ID', :class => "control-label" %>
     <div class="controls">
      <%= number_field_tag :recipient_fb_id %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :book_size, 'Book Size', :class => "control-label" %>
     <div class="controls">
      <%= select_tag :book_size, options_for_select(@book_sizes) %>
    </div>
  </div>

    <div class="control-group">
    <%= label_tag :invite_message_subject, "Invite Subject", :class => "control-label" %>
     <div class="controls">
      <%= text_field_tag :invite_message_subject %>
    </div>
  </div>

    <div class="control-group">
    <%= label_tag :invite_message_body, "Invite Body", :class => "control-label" %>
     <div class="controls">
      <%= text_area_tag :invite_message_body %>
    </div>
  </div>

    <div class="control-group">
    <%= label_tag :sharing_preference, "Sharing Preference", :class => "control-label" %>
     <div class="controls">
      <%= select_tag :sharing_preference, "<option>Social</option><option>Private</option>".html_safe %>
    </div>
  </div>

  <div>
    <button type="submit" class="btn btn-primary span2 offset2">Create Book</button>
  </div>
<% end %>
