<center><h1><%= @book.name %></h1></center>


<h2>Contributors</h2>
  <ul>
    <% @book.roles.each do |role| %>
      <li><%= role.user.full_name %>
        <% i = 1 %>
        <% Page.where(:user_id => role.user.id).where(:book_id => role.book_id).each do |page| %>
          <%= link_to "Page #{i}", page_url(page.id) %>
          <% i += 1 %>
        <% end %>
      </li>
    <% end %>
  </ul>

<h2>Pages</h2>
<h3><%= link_to 'Add a New Page', new_page_url %></h3>
<% i = 1 %>
<% @book.pages.each do |page| %>
  <p><a href="<%= page_url(page.id) %>">Page #<%= i %></a></p>
  <% i += 1 %>
<% end %>



<p>
  <b>Captain:</b>
  <%= @book.captain_id %>
</p>

<p>
  <b>Recipient fb:</b>
  <%= @book.recipient_fb_id %>
</p>

<p>
  <b>Occasion:</b>
  <%= @book.occasion %>
</p>

<p>
  <b>Event date:</b>
  <%= @book.event_date %>
</p>

<p>
  <b>Reminder 1:</b>
  <%= @book.reminder_1 %>
</p>

<p>
  <b>Reminder 2:</b>
  <%= @book.reminder_2 %>
</p>

<p>
  <b>Final reminder:</b>
  <%= @book.final_reminder %>
</p>

<p>
  <b>Contribution deadline:</b>
  <%= @book.contribution_deadline %>
</p>

<p>
  <b>Book size:</b>
  <%= @book.book_size %>
</p>

<p>
  <b>Invite message subject:</b>
  <%= @book.invite_message_subject %>
</p>

<p>
  <b>Invite message body:</b>
  <%= @book.invite_message_body %>
</p>

<p>
  <b>Sharing preference:</b>
  <%= @book.sharing_preference %>
</p>

