<div class="<%= styleclass %> left" id="<%= "#{page.id}#{formnum}" %>">
  <a href="#_" class="fill-div" id="pop<%= "#{page.id}#{formnum}" %>">
    <% if position.present? %>
        <% if position.class == Photo %>
          <div class="background" style="background-image: url(<%= position.source_url %>);"></div>
        <% else %>
          <%= simple_format(position.message) %>
        <% end %>
    <% elsif page.user == current_user || page.book.captain == current_user %>

    <% end %>
    <%= render :partial => "/page_layouts/popup.html.erb", :locals => { :page => page, :formnum => formnum } %>
  </a>
</div>



<script>

          $( init );

          function init() {
                    $('.fill-div').droppable({
                        accept: $("li.ui-draggable"),
                        drop: function( event, ui ) {
                          alert('hi')
                        }
                      });
                      }

          function addPicture( $item, $box ) {
                  $box.replaceWith($item)
                  }

        </script>

