<div class="<%= styleclass %> left" id="<%= "#{page.id}#{formnum}" %>">
  <a href="#_" class="fill-div" id="pop<%= "#{page.id}#{formnum}" %>">
    <% if position.present? %>
        <% if position.class == Photo %>
          <div class="background" style="background-image: url(<%= position.source_url %>);"></div>
        <% else %>
          <%= simple_format(position.message) %>
        <% end %>
        <%= form_tag("/page/#{page.id}/position/#{position.position}", :id => "photo_submit#{position.position}", :method => "post", remote: true) do %>
          <%= hidden_field_tag "inputPhotoTarget-#{position.position}", "image_url" %>
        <% end %>
    <% elsif page.user == current_user || page.book.captain == current_user %>

    <% end %>
    <%= render :partial => "/page_layouts/popup.html.erb", :locals => { :page => page, :formnum => formnum } %>
  </a>
</div>

<%= javascript_tag do %>

          $( init );

          function init() {
                    $('.fill-div').droppable({
                        accept: "li.ui-draggable",
                        drop: function( event, ui ) {
                          addPicture(ui.draggable,$(this));
                        }
                      });
                      }

          function addPicture($item_draggable,$item_droppable) {
            var img_src = $item_draggable.find("img").attr("src")
            //alert(img_src)
            var new_background = 'url('  + img_src + ')'
            var result = ($item_droppable).find(".background").css("background-image",new_background)
            var input_photo_target = ($item_droppable).find('input[id|="inputPhotoTarget"]').attr("id");
            //alert(input_photo_target)
            result = ($item_droppable).find("#" + input_photo_target).val(img_src)
            var submit_target = ($item_droppable).find("form").attr("id")
            $("#" + submit_target).submit()
          }

<% end %>
