<% @position_0 = page.texts.find_by_position("0") %>
<% @position_1 = page.photos.find_by_position("1") %>
<% @position_2 = page.photos.find_by_position("2") %>
<% @position_3 = page.photos.find_by_position("3") %>

<div class="canvas">
  <div class="quarter-box upleft left">
    <% if @position_0.present? %>
        <%= simple_format(@position_0.message) %>
    <% else %>
      <div class="new centered">
        <%= link_to '+', "#{new_text_url}?page_id=#{page.id}&position=0" %>
      </div>
    <% end %>
  </div>
  <div class="quarter-box upright left">
    <% if @position_1.present? %>
      <a href="<%= edit_photo_url(@position_1.id) %>"><div class="background" style="background-image: url(<%= @position_1.source_url %>);"></div></a>
    <% else %>
      <div class="new centered">
        <%= link_to '+', "#{new_photo_url}?page_id=#{page.id}&position=1" %>
      </div>
    <% end %>
  </div>
  <div class="quarter-box lowleft left">
    <% if @position_2.present? %>
      <a href="<%= edit_photo_url(@position_2.id) %>"><div class="background" style="background-image: url(<%= @position_2.source_url %>);"></div></a>
    <% else %>
      <div class="new centered">
        <%= link_to '+', "#{new_photo_url}?page_id=#{page.id}&position=2" %>
      </div>
    <% end %>
  </div>
  <div class="quarter-box lowright left">
    <% if @position_3.present? %>
      <a href="<%= edit_photo_url(@position_3.id) %>"><div class="background" style="background-image: url(<%= @position_3.source_url %>);"></div></a>
    <% else %>
      <div class="new centered">
        <%= link_to '+', "#{new_photo_url}?page_id=#{page.id}&position=3" %>
      </div>
    <% end %>
  </div>
</div>
