<%= render :partial => "/page_layouts/positions", :locals => { :page => page } %>

<div class="canvas">
  <% formnum = 0 %>
  <div class="six-box upleft left">
    <a href="#_" class="fill-div" id="pop<%= "#{page.id}#{formnum}" %>">
      <% if @position_0.present? %>
          <% if @position_0.class == Photo %>
            <div class="background" style="background-image: url(<%= @position_0.source_url %>);"></div>
          <% else %>
            <%= simple_format(@position_0.message) %>
          <% end %>
      <% else %>
        <div class="new centered">
          +
        </div>
      <% end %>
      <%= render :partial => "/page_layouts/popup", :locals => { :page => page, :formnum => formnum } %>
    </a>
  </div>
  <% formnum = 1 %>
  <div class="six-box upmid left">
    <a href="#_" class="fill-div" id="pop<%= "#{page.id}#{formnum}" %>">
      <% if @position_1.present? %>
          <% if @position_1.class == Photo %>
            <div class="background" style="background-image: url(<%= @position_1.source_url %>);"></div>
          <% else %>
            <%= simple_format(@position_1.message) %>
          <% end %>
      <% else %>
        <div class="new centered">
          +
        </div>
      <% end %>
      <%= render :partial => "/page_layouts/popup", :locals => { :page => page, :formnum => formnum } %>
    </a>
  </div>
  <% formnum = 2 %>
  <div class="six-box upright left">
    <a href="#_" class="fill-div" id="pop<%= "#{page.id}#{formnum}" %>">
      <% if @position_2.present? %>
          <% if @position_2.class == Photo %>
            <div class="background" style="background-image: url(<%= @position_2.source_url %>);"></div>
          <% else %>
            <%= simple_format(@position_2.message) %>
          <% end %>
      <% else %>
        <div class="new centered">
          +
        </div>
      <% end %>
      <%= render :partial => "/page_layouts/popup", :locals => { :page => page, :formnum => formnum } %>
    </a>
  </div>
  <% formnum = 3 %>
  <div class="six-box midleft left">
    <a href="#_" class="fill-div" id="pop<%= "#{page.id}#{formnum}" %>">
      <% if @position_3.present? %>
          <% if @position_3.class == Photo %>
            <div class="background" style="background-image: url(<%= @position_3.source_url %>);"></div>
          <% else %>
            <%= simple_format(@position_3.message) %>
          <% end %>
      <% else %>
        <div class="new centered">
          +
        </div>
      <% end %>
      <%= render :partial => "/page_layouts/popup", :locals => { :page => page, :formnum => formnum } %>
    </a>
  </div>
  <% formnum = 4 %>
  <div class="six-box midmid left">
    <a href="#_" class="fill-div" id="pop<%= "#{page.id}#{formnum}" %>">
      <% if @position_4.present? %>
          <% if @position_4.class == Photo %>
            <div class="background" style="background-image: url(<%= @position_4.source_url %>);"></div>
          <% else %>
            <%= simple_format(@position_4.message) %>
          <% end %>
      <% else %>
        <div class="new centered">
          +
        </div>
      <% end %>
      <%= render :partial => "/page_layouts/popup", :locals => { :page => page, :formnum => formnum } %>
    </a>
  </div>
  <% formnum = 5 %>
  <div class="six-box midright left">
    <a href="#_" class="fill-div" id="pop<%= "#{page.id}#{formnum}" %>">
      <% if @position_5.present? %>
          <% if @position_5.class == Photo %>
            <div class="background" style="background-image: url(<%= @position_5.source_url %>);"></div>
          <% else %>
            <%= simple_format(@position_5.message) %>
          <% end %>
      <% else %>
        <div class="new centered">
          +
        </div>
      <% end %>
      <%= render :partial => "/page_layouts/popup", :locals => { :page => page, :formnum => formnum } %>
    </a>
  </div>
  <% formnum = 6 %>
  <div class="six-box lowleft left">
    <a href="#_" class="fill-div" id="pop<%= "#{page.id}#{formnum}" %>">
      <% if @position_6.present? %>
          <% if @position_6.class == Photo %>
            <div class="background" style="background-image: url(<%= @position_6.source_url %>);"></div>
          <% else %>
            <%= simple_format(@position_6.message) %>
          <% end %>
      <% else %>
        <div class="new centered">
          +
        </div>
      <% end %>
      <%= render :partial => "/page_layouts/popup", :locals => { :page => page, :formnum => formnum } %>
    </a>
  </div>
  <% formnum = 7 %>
  <div class="six-box lowmid left">
    <a href="#_" class="fill-div" id="pop<%= "#{page.id}#{formnum}" %>">
      <% if @position_7.present? %>
          <% if @position_7.class == Photo %>
            <div class="background" style="background-image: url(<%= @position_7.source_url %>);"></div>
          <% else %>
            <%= simple_format(@position_7.message) %>
          <% end %>
      <% else %>
        <div class="new centered">
          +
        </div>
      <% end %>
      <%= render :partial => "/page_layouts/popup", :locals => { :page => page, :formnum => formnum } %>
    </a>
  </div>
  <% formnum = 8 %>
  <div class="six-box lowright left">
    <a href="#_" class="fill-div" id="pop<%= "#{page.id}#{formnum}" %>">
      <% if @position_8.present? %>
          <% if @position_8.class == Photo %>
            <div class="background" style="background-image: url(<%= @position_8.source_url %>);"></div>
          <% else %>
            <%= simple_format(@position_8.message) %>
          <% end %>
      <% else %>
        <div class="new centered">
          +
        </div>
      <% end %>
      <%= render :partial => "/page_layouts/popup", :locals => { :page => page, :formnum => formnum } %>
    </a>
  </div>
</div>
