<% @position_0 = page.texts.find_by_position("0") %>
<% @position_1 = page.photos.find_by_position("1") %>
<% @position_2 = page.photos.find_by_position("2") %>

<div class="canvas">
  <div class="half-box left">
    <% if @position_0.present? %>
        <%= @position_0.message %>
    <% else %>
      <div class="new centered">
        <%= link_to 'T', "#{new_text_url}?page_id=#{page.id}&position=0" %>
      </div>
    <% end %>
  </div>
  <div class="quarter-box right">
    <% if @position_1.present? %>
      <a href="<%= edit_photo_url(@position_1.id) %>"><img src="<%= @position_1.source_url %>"></a>
    <% else %>
      <div class="new centered">
        <%= link_to 'P', "#{new_photo_url}?page_id=#{page.id}&position=1" %>
      </div>
    <% end %>
  </div>
  <div class="quarter-box right">
    <% if @position_2.present? %>
      <a href="<%= edit_photo_url(@position_2.id) %>"><img src="<%= @position_2.source_url %>"></a>
    <% else %>
      <div class="new centered">
        <%= link_to 'P', "#{new_photo_url}?page_id=#{page.id}&position=2" %>
      </div>
    <% end %>
  </div>
</div>
