<%= render :partial => "/page_layouts/positions.html.erb", :locals => { :page => page } %>

<center>
  <div class="<%= canvas_css_property %>">
    <div class="vertical-half pull-left">
      <%= render :partial => "/page_layouts/box.html.erb", :locals => { :page => page, :formnum => 0, :position => @position_0, :styleclass => "small-box #{margin_option} #{border_choice}" } %>
      <%= render :partial => "/page_layouts/box.html.erb", :locals => { :page => page, :formnum => 1, :position => @position_1, :styleclass => "small-box #{margin_option} #{border_choice}" } %>
      <%= render :partial => "/page_layouts/box.html.erb", :locals => { :page => page, :formnum => 2, :position => @position_2, :styleclass => "big-box #{margin_option} #{border_choice}" } %>
    </div>
    <div class="vertical-half pull-left">
      <%= render :partial => "/page_layouts/box.html.erb", :locals => { :page => page, :formnum => 3, :position => @position_3, :styleclass => "big-box #{margin_option} #{border_choice}" } %>
      <%= render :partial => "/page_layouts/box.html.erb", :locals => { :page => page, :formnum => 4, :position => @position_4, :styleclass => "small-box #{margin_option} #{border_choice}" } %>
      <%= render :partial => "/page_layouts/box.html.erb", :locals => { :page => page, :formnum => 5, :position => @position_5, :styleclass => "small-box #{margin_option} #{border_choice}" } %>
    </div>
  </div>
</center>
