<%= render :partial => "/page_layouts/positions", :locals => { :page => page } %>

<div class="canvas">
  <div class="vertical-half pull-left">
    <%= render :partial => "/page_layouts/box", :locals => { :page => page, :formnum => 0, :position => @position_0, :styleclass => "big-box upleft" } %>
    <%= render :partial => "/page_layouts/box", :locals => { :page => page, :formnum => 1, :position => @position_1, :styleclass => "small-box lowleft" } %>
    <%= render :partial => "/page_layouts/box", :locals => { :page => page, :formnum => 2, :position => @position_2, :styleclass => "small-box lowmid" } %>
  </div>
  <div class="vertical-half pull-left">
    <%= render :partial => "/page_layouts/box", :locals => { :page => page, :formnum => 3, :position => @position_3, :styleclass => "small-box upmid" } %>
    <%= render :partial => "/page_layouts/box", :locals => { :page => page, :formnum => 4, :position => @position_4, :styleclass => "small-box upright" } %>
    <%= render :partial => "/page_layouts/box", :locals => { :page => page, :formnum => 5, :position => @position_5, :styleclass => "big-box lowright" } %>
  </div>
</div>
