<h1>Editing Photo #<%= @photo.id %></h1>


<%= form_tag(photo_url(@photo), method: 'put') do %>

  <div>
    <%= label_tag :user_id %><br />
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :first_name) %>
  </div>

  <div>
    <%= label_tag :book_id %><br />
    <%= select_tag :book_id, options_from_collection_for_select(Book.all, :id, :name) %>
  </div>

  <div>
    <%= label_tag :page_id %><br />
    <%= number_field_tag :page_id, @photo.page_id %>
  </div>

  <div>
    <%= label_tag :position %><br />
    <%= number_field_tag :position, @photo.position %>
  </div>

  <div>
    <%= label_tag :source_url %><br />
    <%= text_field_tag :source_url, @photo.source_url %>
  </div>

  <div>
    <%= label_tag :caption %><br />
    <%= text_field_tag :caption, @photo.caption %>
  </div>


  <div>
    <%= label_tag :fb_object_id %><br />
    <%= number_field_tag :fb_object_id, @photo.fb_object_id %>
  </div>

  <div>
    <%= label_tag :is_picked %><br />
    <%= check_box_tag :is_picked, @photo.is_picked? %>
  </div>


  <div>
    <%= submit_tag "Update Photo" %>
  </div>

<% end %>
