<% friend_name = (current_user.facebook.friends.find { |f| f["uid"] == @recipient_fb_id.to_s })["name"]  %>


<center><h3><%= link_to "Friendship Photos", '#friendshipphotos' %> | <%= link_to "#{friend_name}'s Photos", '#friendphotos' %> | <%= link_to "My Photos", '#myphotos' %></h3><center>


<%= form_tag(photos_url, method: 'post') do %>


  <%= hidden_field_tag :page_id, @page.id %>
  <%= hidden_field_tag :book_id, @book.id %>
  <%= hidden_field_tag :position, @position %>
  <%= hidden_field_tag :oldphoto, @oldphoto %>

  <div>
    <%= label_tag :source_url, "Photo URL" %><br />
    <%= text_field_tag :source_url %>
  </div>

  <div>
    <%= label_tag :caption, "Caption (optional)" %><br />
    <%= text_field_tag :caption %>
  </div>
<br />

  <div>
    <%= submit_tag "Create Photo" %>
  </div>
<% end %>

<div class="row" id="friendshipphotos">
  <center><h3>Friendship Photos (<%= link_to "View on Facebook", "https://www.facebook.com/profile.php?id=#{current_user.uid}&and=#{@recipient_fb_id}&sk=photos", :target => "_blank" %>)</h3></center>
  <h5>Note: due to user privacy settings within Facebook, you may not be able to see all (or any) of your friendship photos with <%= friend_name %> on our website. Click the "View on Facebook" link above to see your friendship photos with <%= friend_name %> on Facebook. When you find an image you like, click the image to enlarge it and then right click and choose "copy image URL". Then paste that URL in the field above that says "Photo URL".</h5>
  <ul class="thumbnails">
    <% @fb_photos.each do |photo| %>
    <li class="span4">
    <a href="<%= photo_url(photo.fb_object_id) %>?book_id=<%= @book.id %>&page_id=<%= @page.id %>&position=<%= @position %>&oldphoto=<%= @oldphoto %>" class="thumbnail">
      <img data-src="holder.js/300x200">
      <div class="new_photo" style="background-image: url(<%= photo.source_url %>); background-size: 290px auto">
        </div>
    </a>
    </li>
    <% end %>
  </ul>
</div>

<ul class="nav nav-list">
  <li class="midpage_divider"></li>
</ul>

<br />
<br />

<div class="row" id="friendphotos">
  <center><h3><%= link_to "Friendship Photos", '#friendshipphotos' %> | <%= friend_name %>'s Photos | <%= link_to "My Photos", '#myphotos' %></h3><center>
  <ul class="thumbnails">
    <% @friend_photos.each do |photo| %>
    <li class="span4">
    <a href="<%= photo_url(photo.fb_object_id) %>?book_id=<%= @book.id %>&page_id=<%= @page.id %>&position=<%= @position %>&oldphoto=<%= @oldphoto %>" class="thumbnail">
      <img data-src="holder.js/300x200">
      <div class="new_photo" style="background-image: url(<%= photo.source_url %>); background-size: 290px auto">
        </div>
    </a>
    </li>
    <% end %>
  </ul>
</div>

<ul class="nav nav-list">
  <li class="midpage_divider"></li>
</ul>

<br />
<br />

<div class="row" id="myphotos">
  <center><h3><%= link_to "Friendship Photos", '#friendshipphotos' %> | <%= link_to "Friend's Photos", '#friendphotos' %> | My Photos</h3><center>
  <ul class="thumbnails">
    <% @user_photos.each do |photo| %>
    <li class="span4">
    <a href="<%= photo_url(photo.fb_object_id) %>?book_id=<%= @book.id %>&page_id=<%= @page.id %>&position=<%= @position %>&oldphoto=<%= @oldphoto %>" class="thumbnail">
      <img data-src="holder.js/300x200">
      <div class="new_photo" style="background-image: url(<%= photo.source_url %>); background-size: 290px auto">
        </div>
    </a>
    </li>
    <% end %>
  </ul>
</div>


