<h1>New Photo</h1>

<div class="row">
  <ul class="thumbnails">
    <% @fb_photos.each do |photo| %>
    <li class="span4">
    <a href="<%= photo_url(photo.fb_object_id) %>?book_id=<%= @book.id %>&page_id=<%= @page.id %>" class="thumbnail">
      <img data-src="holder.js/300x200">
      <div class="new_photo" style="background-image: url(<%= photo.source_url %>); background-size: 290px auto">
        </div>
    </a>
    </li>
    <% end %>
  </ul>
</div>

<%= form_tag(photos_url, method: 'post') do %>
  <div>
    <%= label_tag :user_id %><br />
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :full_name) %>
  </div>

  <div>
    <%= label_tag :book_id %><br />
    <%= select_tag :book_id, options_from_collection_for_select(Book.all, :id, :name) %>
  </div>

  <%= hidden_field_tag :page_id, @page.id %>

  <div>
    <%= label_tag :position %><br />
    <%= number_field_tag :position %>
  </div>

  <div>
    <%= label_tag :source_url %><br />
    <%= text_field_tag :source_url %>
  </div>

  <div>
    <%= label_tag :caption %><br />
    <%= text_field_tag :caption %>
  </div>
<br />

  <div>
    <%= submit_tag "Create Photo" %>
  </div>
<% end %>

