
<div class="hero-unit hero_unit_photo">
  <center><%= image_tag @photo.source_url %></center>

  <%= form_tag(photos_url, method: 'post', :class => 'clearfix form-horizontal span8 offset1') do %>

    <%= hidden_field_tag :book_id, @book.id %>
    <%= hidden_field_tag :page_id, @page.id %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :fb_object_id, @photo.fb_object_id %>
    <%= hidden_field_tag :source_url, @photo.source_url %>
    <%= hidden_field_tag :position, @position %>
    <p></p>
    <div class="control-group">
      <%= label_tag :caption, "Caption", :class => "control-label" %>
       <div class="controls">
        <%= text_field_tag :caption, @photo.try(:caption), :class => "pull-left" %><button type="submit" class="btn btn-primary span2 pull-left">Add Photo</button>
      </div>
    </div>

  <% end %>
  <p></p>
</div>
