<h1>Photo #<%= @photo.id %></h1>

<p>
  <b>User:</b>
  <%= @photo.user_id %>
</p>

<p>
  <b>Book:</b>
  <%= @photo.book_id %>
</p>

<p>
  <b>Page:</b>
  <%= @photo.page_id %>
</p>

<p>
  <b>Position:</b>
  <%= @photo.position %>
</p>

<p>
  <b>Source url:</b>
  <%= @photo.source_url %>
</p>

<p>
  <b>Caption:</b>
  <%= @photo.caption %>
</p>

<p>
  <b>Fb created date:</b>
  <%= @photo.fb_created_date %>
</p>

<p>
  <b>Fb object:</b>
  <%= @photo.fb_object_id %>
</p>

<p>
  <b>Is picked:</b>
  <%= @photo.is_picked %>
</p>


