<script type="text/javascript">
    $(document).ready(
      function()
      {
        $('#redactor_content').redactor();
      }
    );
    </script>

<% @captain = @book.roles.where(:role_type => "captain").first.user %>
<% @recipient = @captain.facebook.friends.find { |f| f["uid"] == @book.recipient_fb_id.to_s } %>

<h2>Edit message for <%= @recipient["name"] %></h2>

<%= form_tag(text_url(@text), method: 'put') do %>

  <%= hidden_field_tag :book_id, @book.id %>
  <%= hidden_field_tag :page_id, @page.id %>
  <%= hidden_field_tag :position, @position %>

  <div>
    <%= text_area_tag :redactor_content, @text.message.html_safe %>
  </div>

  <div>
    <%= submit_tag "Update Text" %>
  </div>

<% end %>
