<h1>Texts</h1>

<p><%= link_to 'Add a New Text', new_text_url %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th>Page</th>
      <th>Message</th>
      <th>Position</th>
    </tr>
  </thead>

  <tbody>
  <% @texts.each do |text| %>
    <tr>
      <td><%= text.user.full_name %></td>
      <td><%= text.book.name %></td>
      <td><%= text.page_id %></td>
      <td><%= text.message %></td>
      <td><%= text.position %></td>

      <td><%= link_to 'Show', text_url(text) %></td>
      <td><%= link_to 'Edit', edit_text_url(text) %></td>
      <td><%= link_to 'Destroy', text_url(text), method: 'delete', data: { confirm: "Do you really want to delete this text?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

