<h1>Add a message for <%= Friend.find_by_uid(@book.recipient_fb_id).name %></h1>


<%= form_tag(texts_url, method: 'post') do %>

  <%= hidden_field_tag :book_id, @book.id %>
  <%= hidden_field_tag :page_id, @page.id %>
  <%= hidden_field_tag :position, @position %>

  <div>
    <%= label_tag :message %><br />
    <%= text_area_tag :message %>
  </div>

  <div>
    <%= submit_tag "Create Text", :class => "btn btn-primary" %>
  </div>
<% end %>
