<h1>Text #<%= @text.id %></h1>

<p>
  <b>User:</b>
  <%= @text.user_id %>
</p>

<p>
  <b>Book:</b>
  <%= @text.book_id %>
</p>

<p>
  <b>Page:</b>
  <%= @text.page_id %>
</p>

<p>
  <b>Message:</b>
  <%= @text.message %>
</p>

<p>
  <b>Position:</b>
  <%= @text.position %>
</p>

<p>
  <b>Font size:</b>
  <%= @text.font_size %>
</p>

<p>
  <b>Font type:</b>
  <%= @text.font_type %>
</p>

<p>
  <b>Font color:</b>
  <%= @text.font_color %>
</p>


