<!DOCTYPE html>
<html>
<head>
  <title>Clipcake2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="root_url">Title</a>
    <ul class="nav">
      <li><a href="<%= books_url %>">Books</a></li>
      <li><a href="<%= pages_url %>">Pages</a></li>
      <li><a href="<%= roles_url %>">Roles</a></li>
      <li><a href="<%= texts_url %>">Messages</a></li>
      <li><a href="<%= photos_url %>">Photos</a></li>
      <li><a href="<%= users_url %>">Users</a></li>
    </ul>
  </div>
</div>

<%= yield %>

</body>
</html>
