<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title>Clipcake2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Sanchez|Open+Sans:400italic,400,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <style type="text/css" media="all">
    <%= Rails.application.assets['my_css'].to_s.gsub(/\/assets/,"localhost:3000/assets") %>
  </style>
</head>
<body>

<header>
  <div class="container">
    <div class="navbar">
      <a class="brand" href="<%= root_path %>"> <%= image_tag "wide-logo.png", :class => "logo" %></a>
        <ul class="nav pull-right">
          <% if current_user %>
            <!-- Button to trigger modal -->
            <li class="<%= 'active' if current_page?(new_book_url) %>"><a href="#create_book_modal" data-toggle="modal">CREATE A BOOK</a></li>
            <%= render partial: "books/modal" %>
            <li class="<%= 'active' if current_page?(books_url) %>"><a href="<%= books_url %>">MY BOOKS</a></li>
            <li class="<%= 'active' if current_page?(user_url(current_user.id)) %>"><a href="<%= user_url(current_user.id) %>">MY ACCOUNT</a></li>
          <% else %>
          <% end %>
          <% if current_user %>
            <li><a href="<%= sign_out_url %>">SIGN OUT</a></li>
          <% else %>
          <li>
            <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
          </li>
          <% end %>
        </ul>
     </div>
  </div>
<ul class="nav nav-list">
  <li class="divider"></li>
</ul>
</header>
<div class="container">


<%= yield %>

</div>
</body>
</html>
